:root {
--main_color: #1992d4;
--bg_color: #e2e8f0;
--accent_color: #f0b429;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: white;
}

li {
    text-decoration: none;
}

ul {
    list-style: none;
}

.logo {
    color: white;
}

.logo img {
    float: left;
    padding: 10px;
}

.logo h1 {
    position: relative;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 5fr;
    /* gap: 15px; */
}

.header {
    grid-column: 2 / -1;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 1rem 2rem 0;
    /* Box shadow not working? */
    box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.49);
    -webkit-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.49);
    -moz-box-shadow: 0px 10px 5px 0px rgba(0,0,0,0.49);
}

.account {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 7rem;
    margin-bottom: 2rem;
}

.greeting > p {
    font-weight: 800;
    font-size: 1.2rem;
}

.account-header {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controls > button {
    background-color: var(--main_color);
    color: white;
    font-size: 1.3rem;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: .8rem;
    width: 8rem;
    cursor: pointer;
}

.sidebar {
    background-color: var(--main_color);
    grid-column: span 1;
    grid-row: 1 / -1;
}

.sidebar-nav > ul,
.sidebar-support-nav > ul {
    font-size: 1.75rem;
    font-weight: 700;
}

.sidebar-nav > ul > li,
.sidebar-support-nav > ul > li {
    padding-bottom: .5rem;
}

.icon {
    padding-right: 1rem;
}


.article-div {
    background-color: var(--bg_color);
    grid-row: 2 / -1;
    padding: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;  
    /* grid-template-rows: 1fr 5fr 5fr;  */
    /* This fixes gap under projects heading,
    thinking restructure article-div to take headings out of grid? */
}

#article-heading {
    grid-column: 1;
    font-size: 1.75rem;
    max-height: 100px;
}

.article {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.card {
    min-width: 250px;
    background-color: white;
    
}

.sidebar-article {
    grid-column: 2;
}
