:root {
--main_color: #1992d4;
--bg_color: #e2e8f0;
--accent_color: #f0b429;
}


*,
*::before,
*::after {
  box-sizing: border-box;
}
/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

a {
    text-decoration: none;
    color: white;
}

li {
    text-decoration: none;
}

ul {
    list-style: none;
}

.logo {
    color: white;
}

.logo img {
    float: left;
    padding: 10px;
}

.logo h1 {
    position: relative;
    padding: 10px;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 275px 1fr;
    /* gap: 15px; */
}

.header {
    grid-column: 2 / -1;
    background-color: white;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 1rem 2rem 0;
    box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.5);
-webkit-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 8px 5px 0px rgba(0,0,0,0.5);
    z-index: 10;
}

.account {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 7rem;
    margin-bottom: 2rem;
}

.greeting > p {
    font-weight: 800;
    font-size: 1.2rem;
}

.account-header {
    display: flex;
    align-items: center;
    gap: 1rem;

}

.controls {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.controls > button {
    background-color: var(--main_color);
    color: white;
    font-size: 1.3rem;
    outline: none;
    border: none;
    border-radius: 30px;
    padding: .8rem;
    width: 8rem;
    cursor: pointer;
}

.controls > button:hover {
    transform: scale(1.2);
    transition: all .2s ease-in-out;
}

.sidebar {
    background-color: var(--main_color);
    grid-column: span 1;
    grid-row: 1 / -1;
}



.sidebar-nav > ul,
.sidebar-support-nav > ul {
    font-size: 1.75rem;
    font-weight: 700;
}

.sidebar-nav > ul > li,
.sidebar-support-nav > ul > li {
    padding-bottom: .5rem;
}

.icon {
    padding-right: 1rem;
}


.article-div {
    background-color: var(--bg_color);
    grid-row: 2 / -1;
    padding: 15px;
    display: grid;
    grid-template-columns: 3fr 1fr;  
    grid-template-rows: 4rem 1fr 2fr 1fr 
    /* This fixes gap under projects heading,
    thinking restructure article-div to take headings out of grid? */
}

#article-heading {
    grid-column: 1;
    font-size: 1.75rem;
    max-height: 100px;
}

.article {
    grid-column: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
}

.card {
    min-width: 250px;
    max-width: 500px;
    min-height: 200px;
    max-height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;  
    border-radius: 20px;
    border-left: 15px solid #f0b429;
    box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.57);
    -webkit-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.57);
    -moz-box-shadow: 10px 10px 5px -5px rgba(0,0,0,0.57);
}

.card-content {
    width: 90%;
    height: 80%;
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.card-buttons {
    display: flex;
    justify-content: end;
    align-items: end;   
}

.card-buttons > button {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.card-buttons > button:hover {
    color: #1992d4;
}

.sidebar-article {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 50px;
}

.announcements-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.58);
-webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.58);
-moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.58);
}

.announcement-card {
    border-bottom: 1px solid black;
}

.announcements-container > :last-child {
    border: none;
}

.trending-container {
    background-color: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.58);
-webkit-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.58);
-moz-box-shadow: 5px 6px 5px 0px rgba(0,0,0,0.58);
}

.trending-card {
    display: flex;
}

.trending-text {
    margin-left: 15px;
}

a:hover {
    color: #f0b429;
}

input[type=text] {
    background-color: #e2e8f0;
    outline: none;
    border: none;
    width: 70%;
    height: 30px;
    border-radius: 20px;
    font-size: 1rem;
    color: #f0b429;
 }
